---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$global-transition: none;
$intro-transition: none;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  .masthead__menu-item a.active{
    // font-weight: bold;
    &:before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); // reveal
    }
  }
}

.math-quote blockquote {
  background: #fafafa;
  padding: 1em;
  margin: 0;
  border-radius: .3em;
  border-left: none;
  font-family: fangsong;
  footer {
    text-align: right;
  }
}
