---
layout: archive
---

{{ content }}

{% include math-quote.html %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<ul>
  {% for post in site.categories.blogs limit:3 %}
    <li>
      {{ post.date | date: "%b %d, %Y" }} - <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
<a href="/blogs/">More Posts</a>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].selected_publications | default: "Selected Publications" }}</h3>
<ul>
  {% for publication in site.data.publications limit:5 %}
    <li>
      ({{ publication.year }}) {{ publication.authors }}, <b>{{ publication.title }}</b> <br> <i>{{ publication.journal }}</i> {% if publication.downloadLink %} &nbsp;&nbsp;<a href="{{ publication.downloadLink }}">Download</a>]{% endif %} {% if publication.doiLink %} &nbsp;&nbsp;<a href="{{ publication.doiLink }}">DOI</a>{% endif %}
    </li>
  {% endfor %}
</ul>
<a href="/publications/">All Publications</a>

<h3 class="archive__subtitle">Tags</h3>
{% assign items_max = 0 %}
{% for item in site.tags %}
  {% if item[1].size > items_max %}
    {% assign items_max = item[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..items_max) reversed %}
    {% for item in site.tags %}
      {% if item[1].size == i %}
        <li>
          <a href="/tags/{{ item[0] | slugify }}">
            <strong>{{ item[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
